body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

nav ul a {
  font-size: 1.1rem;
  font-weight: 700;
  color: #399bd1;
}


/* Jumbotron */
div .jumbotron {
  background-image: url('../images/jumbotron-bike.jpg')
}
